* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo2.jpg");
    /*background-size: auto 100vh;*/
    font-family: 'Roboto', sans-serif;
    
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background:#02013d;
    margin: 10px;
    position: fixed;
    width: 99vw;
    top: 1px;
    padding: 10px;
    border-radius: 10px;
}

footer ul,
.menu ul {
    display: flex;
    justify-content: space-around;
}

footer li,
.menu li {
    list-style: none;
}

footer a,
.menu a {
    text-decoration: none;
    padding: 10px;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

#perfil{
    width: 150px; 
    height: 145px;
    /*display: block;*/
    background-color: grey;
    border-radius: 200px 200px 200px 200px;
    /*margin-left: 44vw;
    margin-right: 30vw;
    margin-top: 50px;
    margin-bottom: 40px;*/
    margin: 0px;
}
.apresentacao,
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    margin:10px;
}

.site-subtitle {
    font-style: italic;
}

main {
    margin-left: 100px;
    margin-right: 100px;

}

h2 {
    color: whitesmoke;
    margin:120px 30px 50px;
}

article {
    height: 100vh;
    align-items:center;
    justify-content:center;

}

article p {
    color: whitesmoke;
    margin: 30px opx;
}

section{
    height: 100vh;
    
}

.grip {
    display: grid;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

@media (max-width: 560px) {
    section{
        height: 170vh;
    }

    footer ul{
        display: block; 
        font-size: 25px;
    }
    main {
        margin: 5vh;
    }
    .grip {
        display: grid;
        height: 100vh;
        justify-content: center;
        text-align: center;
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 40px;
  }

    body {
    font-size: 30px;
    }
  }
@media (min-width: 560px) and (max-width: 880px) {
    .grid {
    display: grid;
      grid-template-columns: repeat(2, 240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px)
    }
    main {
        margin: 5vh;
    }

    footer ul{
        display: block; 
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 40px;
  }

    body {
    font-size: 30px;
    }

  }
  
@media (min-width: 880px) and (max-width: 1000px){
    .grid {
        display: grid;  
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }
    main {
        margin: 5vh;
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 40px;
  }

    body {
    font-size: 30px;
    }

}

@media (min-width: 1000px){
  .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(4, 240px);
      justify-content: center;
      text-align: center;
    }

    main {
        margin: 5vh;
    }

  }

.img-portfolio {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    gap: 5em;
    /*margin: 100px 50px 5px;*/
    text-align: center;
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    
}

figcaption {
    color: whitesmoke;
    margin:5px;
    text-align: center;
}

figure {
    text-align: center
    
}

figure a {
    color: orange;
}

footer {
    background:#02013d;
    margin: 10px;   
    width: 98vw;
    bottom: 1px;
    padding: 10px;
    border-radius: 10px;
}
 footer h2 {
     margin: 10px;
 }