* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo2.jpg");
    /*background-size: auto 100vh;*/
    font-family: 'Roboto', sans-serif;
    
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background:#02013d;
    margin: 10px;
    position: fixed;
    width: 99vw;
    top: 1px;
    padding: 10px;
    border-radius: 10px;
}

footer ul,
.menu ul {
    display: flex;
    justify-content: space-around;
}

footer li,
.menu li {
    list-style: none;
}

footer a,
.menu a {
    text-decoration: none;
    padding: 10px;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

#perfil{
    width: 150px; 
    height: 145px;
    /*display: block;*/
    background-color: grey;
    border-radius: 200px 200px 200px 200px;
    /*margin-left: 44vw;
    margin-right: 30vw;
    margin-top: 50px;
    margin-bottom: 40px;*/
    margin: 0px;
}

div,
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    margin:10px;
}

.site-subtitle {
    font-style: italic;
}

main {
    margin-left: 100px;
    margin-right: 100px;

}

h2 {
    color: whitesmoke;
    margin:120px 30px 50px;
    position: relative;
}

article {
    height: 100vh;
    top: 30vh;

}
article p {
    color: whitesmoke;
    margin: 30px opx;
    
}

span {
    display: flex;
    height: 100vh;
    position: relative;
}

.img-portfolio {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    margin: 100px 50px 5px;
    text-align: center;
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
}

figcaption {
    color: whitesmoke;
    margin:5px;
    text-align: center;
}

figure a {
    color: orange;
}

footer {
    background:#02013d;
    margin: 10px;   
    width: 98vw;
    bottom: 1px;
    padding: 10px;
    border-radius: 10px;
}
 footer h2 {
     margin: 10px;
 }