* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/fundo2.jpg");
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Barra de menu */
.menu {
    background:#02013d;
    margin: 10px;
    position: fixed;
    width: 99vw;
    top: 1px;
    padding: 10px;
    border-radius: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

footer li,
.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    color: orange;
    transition: background 0.5s;
    border-radius: 5px;
}

/* Nodificações com o cursor*/
header a:active,
header a:hover {
    text-decoration: none;
    background-color: orange;
    color:#02013d ;
}

/*Apresentação do site*/
header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Corpo do site*/
main {
    margin-left: 100px;
    margin-right: 100px;
}

#perfil{
    width: 200px; 
    height: 195px;
    background-color: grey;
    border-radius: 200px 200px 200px 200px;
    margin: 0px;
    border-bottom: 3px solid#D2691E;
    border-top: 3px solid #D2691E;
    border-left: 3px solid #D2691E;
    border-right: 3px solid #D2691E;
}
    
.apresentacao,
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    margin:10px;
    transition: text-shadow 1s;
}

.site-subtitle:hover,
.site-title:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
}
    
.site-subtitle {
    font-style: italic;
}

.sobre {
    justify-content:center;
}

.sobre p {
    color: whitesmoke;
    margin: 10vh 5vh;
    border: 3px solid #D2691E;
    padding: 5vh;
}

.grip {
    display: grid;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

/* Configurações de site responsivo de no maximo 560 pixel */
@media (max-width: 560px) {
    footer ul{
        display: block; 
        font-size: 25px;
    }
    main {
        margin: 5vh;
    }
    .grip {
        display: grid;
        height: 100vh;
        justify-content: center;
        text-align: center;
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 30px;
  }

    body {
    font-size: 20px;
    }

    .sobre p {
        margin: 10vh 0px;
        padding: 1vh;
    }

    footer ul {
        font-size: 21px;
    }
  }

  /* Configurações de site responsivo de no maximo 880 e minimo de 560 pixel */
@media (min-width: 560px) and (max-width: 880px) {
    .grid {
    display: grid;
      grid-template-columns: repeat(2, 240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px)
    }
    main {
        margin: 5vh;
    }

    footer ul{
        display: block; 
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 40px;
  }

    body {
    font-size: 30px;
    }

  }
  
  /* Configurações de site responsivo de no maximo 1000 e minimo de 880 pixel */
@media (min-width: 880px) and (max-width: 1000px){
    .grid {
        display: grid;  
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }
    main {
        margin: 5vh;
    }

    #perfil{
        width: 300px; 
        height: 290px;
    }

    .site-subtitle,
    .site-title {
    font-size: 40px;
  }

    body {
    font-size: 30px;
    }

}

/* Configurações de site responsivo de no minimo de 1000 pixel */
@media (min-width: 1000px){
  .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(4, 240px);
      justify-content: center;
      text-align: center;
    }

    main {
        margin: 5vh;
    }

  }

.portfolio{
    min-height: 70vh;
}

.portfolio h2 {
    color: whitesmoke;
    margin:10px;
}

.img-portfolio {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    gap: 5em;
    text-align: center;
    margin-top: 10vh;
    border-bottom: 3px solid#D2691E;
    border-top: 3px solid #D2691E;
    border-left: 3px solid #D2691E;
    border-right: 3px solid #D2691E;
    transition: transform 500ms;
}

.img-portfolio:active,
.img-portfolio:hover{
    transform: rotateY(360deg);
}

/* Configuração de imagens */
.grip {
    height: 70vh;
}

figcaption {
    color: whitesmoke;
    margin:5px;
    text-align: center;
}

figure {
    text-align: center;
}

figure a {
    color: #D2691E;
}

/* Rodapé */
/*footer {
    background:#02013d;
    margin: 10px;   
    width: 98vw;
    bottom: 1px;
    padding: 10px;
    border-radius: 10px;
}
 footer h2 {
     margin: 10px;
 }

 footer img {
     max-height: 4vh;
 }*/

 footer {
    background:#02013d;
    margin: 10px;   
    width: 98vw;
    bottom: 1px;
    padding: 10px;
 }

 footer ul{
    display: flex;
    justify-content: center;
 }

 footer a{
    padding: 0px 15px;
    color: orange;
    font-size: 50px;
    transition: text-shadow 1s;
 }

 footer a:active,
 footer a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
 }

 footer h5 {
    color: whitesmoke;
    text-align: center;
    margin-top: 5em;
}
 